<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../dist/style.css" rel="stylesheet">
</head>
<body>
  <header class="flex flex-col">
    <div class="h-5 w-full bg-neutral-400 mb-12"></div>
    <div class="container mx-auto flex max-w-screen-md">
      <div class="w-44">
        <div class="relative w-44">
          <img src="./img/profile.png" alt="Luciano Braga" class="grayscale rounded-full">
          <div class="absolute h-44 w-44 border-4 rounded-full border-opacity-25 border-neutral-900 top-0 left-0"></div>
        </div>
      </div>
      <div class="ml-8">
        <h1 class="text-5xl text-neutral-600 uppercase"><span class="font-semibold">Luciano</span> Braga</h1>
        <h5 class="text-xl text-neutral-400 uppercase font-light py-4">Senior Software Developer</h5>
        <p class="text-neutral-500 text-sm text-justify">Desenvolvedor desde 2007, sempre com grande interesse na resolução de problemas cotidianos através da tecnologia, principalmente a programação de computadores, utilizando linguagens para Web, Mobile ou Desktop.</p>
      </div>
    </div>
  </header>
  <section class="flex mx-auto max-w-screen-md mt-10">    
    <aside class="flex-none w-14 w-48 p-4 pt-0">
      <div class="border-r-2 border-neutral-300 h-full mt-4 flex flex-col gap-6">
        <div id="education">
          <h2 class="text-2xl text-neutral-700 uppercase font-semibold pb-2">Education</h2>
          <p class="font-bold text-neutral-700">Computer Science</p>
          <p class="font-light text-neutral-500 text-sm">Universidade Estadual do Vale do Acaraú, Sobral</p>
          <p class="text-neutral-500 text-sm">2018 - 2018</p>
        </div>
        <div id="expertise">
          <h2 class="text-2xl text-neutral-700 uppercase font-semibold pb-2">Expertise</h2>
          <p class="font-bold text-neutral-700">Computer Science</p>
          <p class="font-light text-neutral-500 text-sm">Universidade Estadual do Vale do Acaraú, Sobral</p>
          <p class="text-neutral-500 text-sm">2018 - 2018</p>
        </div>
      </div>
    </aside>
    <main class="grow h-20 p-4 bg-neutral-200">
      <h2 class="text-2xl text-neutral-700 uppercase font-semibold pb-2">Professional Experiences</h2>
      <section>
        <article>dew</article>
      </section>
    </main>
  </section>  
</body>
</html>